* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
nav{
  position: absolute;
  width: 100%;
}
.navDiv {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(14, 14, 14);
  color: white;
}
.NavList {
  ul {
    display: flex;
    gap: 20px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
.link {
  height: 30px;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
}

.mask {
  position: relative;
  padding: 0;
  height: 20px;

  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  font-size: 20px;
  line-height: 20px;

  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

.link-icon {
  position: relative;
  width: 35px;
  height: 35px;
  background: #f8f8ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  overflow: hidden;
}

.link:hover .link-container {
  transform: translateY(-20px);
  color: #55e6a5;
}

.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}
.NavMenu {
  span {
    padding: 20px;
    background-color: #55e6a5;
    color: black;
    border-radius: 10px;
    height: 100%;
  }
  button {
    height: 100%;
  }
}
@media only screen and (max-width: 880px){
  .NavList {
    ul {
      display: none;
      gap: 20px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.offcanvas-header {
  background-color: #212529;
}
#offcanvasRightLabel {
  img {
    padding: 5px;
    height: 40px;
  }
}
.btn-close {
  background-color: #55e6a5;
  border-radius: 50%;
  width: 40px;
  height: 10px;
}
.offcanvas-body {
  background: #09101a;
}
.content-box {
  color: white;
  h5 {
    font-size: 20px;
    line-height: 24px;
  }
  p {
    font-size: 16px;
    line-height: 27.2px;
  }
}
.offcanvas_contact_form {
  color: white;
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  input {
    padding: 30px 0px 0px 0px;
    background: fixed;
    border: 1px solid #55e6a5;
  }
  button {
    background-color: #55e6a5;
    text-align: center;
    border: none;
    padding: 20px 40px;
    width: 200px;
    height: 64px;
  }
}
#textarea {
  background: fixed;
  border: 1px solid #55e6a5;
}
.common-btn:hover {
  background: fixed;
  transition: 0.6s;
  color: white;
  border: 1px solid #55e6a5;
}


